In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("./data/zomato.csv")

In [3]:
#data.drop(labels=['url', 'address','dish_liked','reviews_list','listed_in(city)','phone','name', 'menu_item'],axis=1,inplace=True)

def handlerate(value):
    if(value=="NEW" or value=="-"):
        return np.nan #replacing new and - with null value
    else:
        value=str(value).split("/")
        value=value[0]
        return float(value)#2.2/5 will be return
data["rate"]=data["rate"].apply(handlerate)
data["rate"].head()

In [4]:
# replacing the null values with mean 
data["rate"].fillna(data["rate"].mean(),inplace= True)#inplace=true because make changes in original dataframe
data["rate"].isnull().sum()

0

In [5]:
data.head()

,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
0,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet
2,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet
3,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet
4,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet

In [6]:
X=data.drop(labels=["rate"],axis=1)

In [7]:
y=data[["rate"]]

In [8]:
X

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
0,Yes,Yes,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Yes,No,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet
2,Yes,No,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet
3,No,No,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet
4,No,No,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...
51712,No,No,27,Whitefield,Bar,Continental,"1,500",Pubs and bars
51713,No,No,0,Whitefield,Bar,Finger Food,600,Pubs and bars
51714,No,No,0,Whitefield,Bar,Finger Food,"2,000",Pubs and bars
51715,No,Yes,236,"ITPL Main Road, Whitefield",Bar,Finger Food,"2,500",Pubs and bars
51716,No,No,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental","1,500",Pubs and bars

In [9]:
y

           rate
0      4.100000
1      4.100000
2      3.800000
3      3.700000
4      3.800000
...         ...
51712  3.600000
51713  3.700449
51714  3.700449
51715  4.300000
51716  3.400000

[51717 rows x 1 columns]

In [10]:
# Assuming y is a 2D array, convert it to a 1D array using ravel()
y = np.ravel(y)

In [11]:
y

array([4.1       , 4.1       , 3.8       , ..., 3.70044882, 4.3       ,
       3.4       ])

In [12]:
categorical_cols=X.select_dtypes(include='object').columns
categorical_cols

Index(['online_order', 'book_table', 'location', 'rest_type', 'cuisines',
       'approx_cost(for two people)', 'listed_in(type)'],
      dtype='object')

In [13]:
numerical_cols=X.select_dtypes(exclude='object').columns
numerical_cols

Index(['votes'], dtype='object')

In [14]:
X.select_dtypes(include='object')

,online_order,book_table,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
0,Yes,Yes,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Yes,No,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet
2,Yes,No,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet
3,No,No,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet
4,No,No,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...
51712,No,No,Whitefield,Bar,Continental,"1,500",Pubs and bars
51713,No,No,Whitefield,Bar,Finger Food,600,Pubs and bars
51714,No,No,Whitefield,Bar,Finger Food,"2,000",Pubs and bars
51715,No,Yes,"ITPL Main Road, Whitefield",Bar,Finger Food,"2,500",Pubs and bars
51716,No,No,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental","1,500",Pubs and bars

In [15]:
from sklearn.impute import SimpleImputer ## Handling Missing Values
from sklearn.preprocessing import StandardScaler # Handling Feature Scaling
#from sklearn.preprocessing import LabelEncoder # Label Encoding
from sklearn.preprocessing import OneHotEncoder
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [16]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [17]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehotencoder',OneHotEncoder(sparse=False, handle_unknown='ignore', categories='auto'))
    ]
    
)

In [18]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [19]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [20]:
preprocessor.fit_transform(X_train)

d:\fsdsmendtoendzomato\env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[-0.12475398,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.33072423,  1.        ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 1.82575941,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.35181757,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.01804651,  0.        ,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.71029405,  0.        ,  1.        , ...,  1.        ,
         0.        ,  0.        ]])

In [21]:
preprocessor.transform(X_test)

array([[-0.30342697,  0.        ,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.32948344,  1.        ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-0.34561364,  0.        ,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 2.39776111,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.2387959 ,  0.        ,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.23518381,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [22]:
preprocessor.get_feature_names_out()

array(['num_pipeline__votes', 'cat_pipeline__online_order_No',
       'cat_pipeline__online_order_Yes', ...,
       'cat_pipeline__listed_in(type)_Dine-out',
       'cat_pipeline__listed_in(type)_Drinks & nightlife',
       'cat_pipeline__listed_in(type)_Pubs and bars'], dtype=object)

In [23]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

d:\fsdsmendtoendzomato\env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [24]:
X_train

,num_pipeline__votes,cat_pipeline__online_order_No,cat_pipeline__online_order_Yes,cat_pipeline__book_table_No,cat_pipeline__book_table_Yes,cat_pipeline__location_BTM,cat_pipeline__location_Banashankari,cat_pipeline__location_Banaswadi,cat_pipeline__location_Bannerghatta Road,cat_pipeline__location_Basavanagudi,...,cat_pipeline__approx_cost(for two people)_850,cat_pipeline__approx_cost(for two people)_900,cat_pipeline__approx_cost(for two people)_950,cat_pipeline__listed_in(type)_Buffet,cat_pipeline__listed_in(type)_Cafes,cat_pipeline__listed_in(type)_Delivery,cat_pipeline__listed_in(type)_Desserts,cat_pipeline__listed_in(type)_Dine-out,cat_pipeline__listed_in(type)_Drinks & nightlife,cat_pipeline__listed_in(type)_Pubs and bars
0,-0.124754,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.330724,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.825759,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,-0.351818,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,-0.351818,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36196,-0.344373,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36197,0.135811,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36198,-0.351818,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36199,-0.018047,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36200,0.710294,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
X_test

,num_pipeline__votes,cat_pipeline__online_order_No,cat_pipeline__online_order_Yes,cat_pipeline__book_table_No,cat_pipeline__book_table_Yes,cat_pipeline__location_BTM,cat_pipeline__location_Banashankari,cat_pipeline__location_Banaswadi,cat_pipeline__location_Bannerghatta Road,cat_pipeline__location_Basavanagudi,...,cat_pipeline__approx_cost(for two people)_850,cat_pipeline__approx_cost(for two people)_900,cat_pipeline__approx_cost(for two people)_950,cat_pipeline__listed_in(type)_Buffet,cat_pipeline__listed_in(type)_Cafes,cat_pipeline__listed_in(type)_Delivery,cat_pipeline__listed_in(type)_Desserts,cat_pipeline__listed_in(type)_Dine-out,cat_pipeline__listed_in(type)_Drinks & nightlife,cat_pipeline__listed_in(type)_Pubs and bars
0,-0.303427,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.329483,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.345614,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,-0.319557,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.352948,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15511,-0.351818,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15512,-0.240147,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15513,2.397761,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15514,0.238796,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15515,-0.235184,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
# Importing necessary libraries
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [27]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [28]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [29]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'DecisionTreeRegressor':DecisionTreeRegressor(),
    'RandomForestRegressor':RandomForestRegressor(),
    'SVR':SVR()
}

In [30]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [31]:
list(models)

['LinearRegression', 'DecisionTreeRegressor', 'RandomForestRegressor', 'SVR']

In [32]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
DecisionTreeRegressor()
RandomForestRegressor()
SVR()

In [33]:
models.keys()

dict_keys(['LinearRegression', 'DecisionTreeRegressor', 'RandomForestRegressor', 'SVR'])

In [34]:
models.values()

dict_values([LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), SVR()])

In [35]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 2785943834.0487227
MAE: 45492517.4257793
R2 score -5.055922518679368e+21
===================================


DecisionTreeRegressor
Model Training Performance
RMSE: 0.13422045675865893
MAE: 0.034449968306700815
R2 score 88.26472904499218
===================================